#CourseListContainer {
  flex: 1;
}

#CourseList {
  margin: 1rem 0;
  width: 90%;
  justify-self: center;
  border: #909090 solid;
  border-collapse: collapse;
}

#CourseList th,
#CourseList td {
  border: #909090 solid;
}
