#CourseList {
  width: 90%;
  margin: 2rem auto;
  border-collapse: collapse;
}

#CourseList th,
#CourseList td {
  border: 1px solid black;
  padding: 0.5rem 1rem;
  text-align: left;
}

#CourseList thead tr:first-child th {
  background-color: #deb5b545;
  text-align: center;
}

#CourseList thead tr:nth-child(2) th {
  background-color: #deb5b545;
}

#CourseList tbody tr:nth-child(odd) {
  background-color: #e6e4e4;
}