.notification-title {
  text-align: right;
  margin: 10px 20px 5px;
  font-size: 14px;
  font-weight: bold;
}

.notification-items {
  position: relative;
  margin: 0 20px;
  padding: 10px;
  border: 1px dashed #e1003c;
  font-size: 12px;
}

.notification-items p {
  margin: 0 0 10px;
}

.notification-items ul {
  margin: 0;
  padding-left: 28px;
}

.notification-items li {
  margin: 4px 0;
}

.notification-items button img {
  display: block;
}
