@import "tailwindcss";

@theme {
  --font-family-roboto: "Roboto", sans-serif;
  --color-table-header: #deb5b5;
  --color-table-rows: #CDCDCD;
}

@layer base {
  html {
    font-family: var(--font-family-roboto);
  }
}