#root {
  background-color: #ffffff;
}

.holberton-header {
  display: flex;
  border-bottom: #e1003c solid 2.5px;
}

.holberton-header img {
  width: 15%;
}

.holberton-header h1 {
  align-content: center;
  margin-left: 1rem;
  color: #e0354c;
  font-family: Arial, Helvetica, sans-serif;
}

.holberton-body {
  text-align: justify;
  margin-left: 1rem;
  border-bottom: #e0354c solid 2.5px;
  flex: 1;
  height : 25rem;
}

.holberton-body p {
  margin-top: 2rem;
}

.holberton-footer {
  text-align: center;
  font-style: italic;
}