.Notification-Component {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.notification-title {
  width: 100%;
  text-align: end;
}

.notification-items {
  border: #e1003c dotted 2.5px;
  display: flex;
  flex-wrap: wrap;
  width: 60%;
  margin-bottom: 1rem;
}

.notification-items p {
  margin-left : 1rem;
}

.notification-items button img {
  width: 70%;
}

.notification-items ul {
  width: 100%;
}
