.App-body {
  flex: 1;
  padding: 10px 10px;
  font-size: 5px;
}


.App-body label {
  margin-right: 3px;
}

.App-body input {
  width: 50px;
  height: 10px;
  font-size: 10px;
  margin-right: 3px;
}

.App-body button {
  height: 10px;
  width: 2px;
  font-size: 5px;
  display: inline-flex;
  justify-content: center;
  background-image: rgb(73, 73, 73);
}
