#CourseList {
  width: calc(100% - 40px);
  margin: 40px 20px;
  border-collapse: collapse;
}

#CourseList th,
#CourseList td {
  padding: 8px;
  border: 1px solid #cccccc;
  text-align: left;
}

#CourseList thead tr:first-child th {
  text-align: center;
}
