#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/************************* App-header *************************/
.App-header {
  display: flex;
  border-bottom: #e1003c solid 2.5px;
}

.App-header img {
  width: 15%;
}

.App-header h1 {
  align-content: center;
  margin-left: 1rem;
  color: #e1003c;
  font-family: Arial, Helvetica, sans-serif;
}

/************************** App-body **************************/
.App-body {
  text-align: justify;
  border-bottom: #e1003c solid 2.5px;
  flex: 1;
}

.App-body p {
  margin-left: 1rem;
}

label[for='email'],
label[for='password'],
.App-body #email,
.App-body #password {
  margin-left: 0.5rem;
}

.App-body button {
  margin-left: 1rem;
}

/************************* App-footer *************************/
.App-footer {
  text-align: center;
  font-style: italic;
}