/************************* App-header *************************/
.App-header {
  display: flex;
}

.App-header img {
  width: 15%;
}

.App-header h1 {
  align-content: center;
  margin-left: 1rem;
  color: #e1003c;
  font-family: Arial, Helvetica, sans-serif;
}
